n8n_templates_sm-01-ai-auto-reply-inbound-email.json
{
  "name": "SM-01 - AI Auto-Reply to Inbound Emails (M365 IMAP + OpenAI JSON)",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "downloadAttachments": false,
        "options": {
          "format": "simple"
        },
        "host": "imap.office365.com",
        "port": 993,
        "secure": true
      },
      "id": "1",
      "name": "IMAP Trigger - Office365",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -1000,
        300
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "functionCode": "const item = $json;\n// Try to extract email address from the \"from\" field\nconst fromRaw = item.from || '';\nconst emailMatch = fromRaw.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/ig);\nconst fromEmail = emailMatch ? emailMatch[0] : (item.fromEmail || '');\nconst subject = item.subject || '';\nconst text = item.text || (item.html ? item.html.replace(/<[^>]+>/g, ' ') : '');\nreturn [{\n  messageId: item.messageId || '',\n  fromEmail,\n  to: item.to || '',\n  subject,\n  text\n}];"
      },
      "id": "2",
      "name": "Normalize Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -780,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "options": {},
        "method": "POST",
        "authentication": "none",
        "jsonParameters": true,
        "sendHeaders": true,
        "headerParametersJson": "={{ JSON.stringify({ \"Content-Type\": \"application/json\", \"Authorization\": `Bearer ${$env.OPENAI_API_KEY || ''}` }) }}",
        "bodyParametersJson": "={{ JSON.stringify({\n  model: $env.OPENAI_MODEL || 'gpt-4o-mini',\n  temperature: 0.4,\n  response_format: { type: 'json_object' },\n  messages: [\n    {\n      role: 'system',\n      content: `You are an email auto-reply assistant for ${$env.BRAND_NAME || 'Your Brand'}. Output a single MINIFIED JSON object with keys: subject (string), replyText (string), intent (one of: sales, support, billing, other), language (BCP-47), confidence (0..1), nextSteps (string). No explanations, no markdown, no extra text.`\n    },\n    {\n      role: 'user',\n      content: `From: ${$json.fromEmail}\\nSubject: ${$json.subject}\\nBody:\\n${$json.text}`\n    },\n    {\n      role: 'system',\n      content: `Tone: ${$env.DEFAULT_TONE || 'friendly, concise, professional'}. If the email is not actionable (spam/auto), set intent to 'other' and replyText to a brief acknowledgement.`\n    }\n  ]\n}) }}",
        "queryParametersUi": {
          "parameter": []
        }
      },
      "id": "3",
      "name": "OpenAI - Compose Auto Reply (JSON)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -540,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const resp = $json || {};\nconst content = resp.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  parsed = {\n    subject: `Re: ${$item(0).$node[\"Normalize Email\"].json.subject || ''}`.trim(),\n    replyText: 'Thank you for your email. We will get back to you shortly.',\n    intent: 'other',\n    language: 'en',\n    confidence: 0.2,\n    nextSteps: 'Review manually.'\n  };\n}\nreturn [{\n  ...$item(0).$node[\"Normalize Email\"].json,\n  ai: parsed\n}];"
      },
      "id": "4",
      "name": "Parse OpenAI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMail",
        "toList": "={{$json.fromEmail}}",
        "subject": "={{$json.ai.subject || ('Re: ' + ($json.subject || ''))}}",
        "message": "={{$json.ai.replyText}}",
        "additionalFields": {
          "contentType": "Text"
        }
      },
      "id": "5",
      "name": "Outlook - Send Auto Reply",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -60,
        300
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "",
          "name": "M365_OUTLOOK_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "mode": "auto",
          "assignments": [
            {
              "id": "notes",
              "name": "notes",
              "value": "={\"customize\": {\"imap\": {\"host\": \"imap.office365.com\", \"mailbox\": \"INBOX\"}, \"openai\": {\"env\": [\"OPENAI_API_KEY\", \"OPENAI_MODEL\"], \"tone_env\": \"DEFAULT_TONE\", \"brand_env\": \"BRAND_NAME\"}, \"outlook\": {\"credential\": \"M365_OUTLOOK_CREDENTIAL\"}, \"routing\": {\"tip\": \"Use intent from ai.intent to branch or log to CRM via HTTP Request.\"}}, \"safety\": {\"tip\": \"Keep response_format JSON to ensure valid JSON. Add guardrails in Parse OpenAI JSON if needed.\"}, \"examples\": {\"env\": {\"BRAND_NAME\": \"Acme Co.\", \"DEFAULT_TONE\": \"friendly and helpful\"}}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "6",
      "name": "Customization Notes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -540,
        520
      ]
    }
  ],
  "connections": {
    "IMAP Trigger - Office365": {
      "main": [
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "OpenAI - Compose Auto Reply (JSON)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Compose Auto Reply (JSON)": {
      "main": [
        [
          {
            "node": "Parse OpenAI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenAI JSON": {
      "main": [
        [
          {
            "node": "Outlook - Send Auto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "sm-01-ai-auto-reply-inbound-email",
  "id": "sm-01-ai-auto-reply-inbound-email"
}