n8n_templates_24-ai-meeting-notes-generator_Version2.json
{
  "name": "AI Meeting Notes Generator",
  "nodes": [
    {
      "parameters": {
        "path": "/webhook/meeting-audio",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "q7r8s9t0-u1v2-3456-qrst-789012345678",
      "name": "Audio Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "audioInput": "={{ $node[\"Audio Upload Webhook\"].json[\"body\"][\"audio\"] }}",
        "options": {
          "language": "en",
          "prompt": "This is a business meeting recording. Please transcribe accurately with speaker identification if possible."
        }
      },
      "id": "r8s9t0u1-v2w3-4567-rstu-890123456789",
      "name": "AI Transcribe Audio",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "chatId": {
          "chatId": "gpt-4"
        },
        "text": "=Please analyze this meeting transcript and create structured meeting notes with the following sections:\n\n**Meeting Summary:**\n- Brief overview of the meeting\n\n**Key Discussion Points:**\n- Main topics discussed\n\n**Decisions Made:**\n- Any decisions or resolutions\n\n**Action Items:**\n- Tasks assigned with responsible parties\n- Deadlines if mentioned\n\n**Next Steps:**\n- Follow-up actions\n\n**Participants:**\n- List of attendees if identifiable\n\nTranscript:\n{{ $node[\"AI Transcribe Audio\"].json[\"text\"] }}"
      },
      "id": "s9t0u1v2-w3x4-5678-stuv-901234567890",
      "name": "AI Generate Meeting Notes",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "workspaceId": "workspace_id",
        "title": "=Meeting Notes - {{ new Date().toLocaleDateString() }}",
        "content": "={{ $node[\"AI Generate Meeting Notes\"].json[\"choices\"][0][\"message\"][\"content\"] }}\n\n---\n\n**Raw Transcript:**\n{{ $node[\"AI Transcribe Audio\"].json[\"text\"] }}"
      },
      "id": "t0u1v2w3-x4y5-6789-tuvw-012345678901",
      "name": "Save to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        920,
        200
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "toEmail": "={{ $node[\"Audio Upload Webhook\"].json[\"body\"][\"email\"] }}",
        "subject": "=Meeting Notes - {{ new Date().toLocaleDateString() }}",
        "emailType": "html",
        "message": "=<h2>Meeting Notes</h2>\n{{ $node[\"AI Generate Meeting Notes\"].json[\"choices\"][0][\"message\"][\"content\"].replace(/\\n/g, '<br>').replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>') }}\n\n<hr>\n\n<p><em>This summary was automatically generated from the meeting recording.</em></p>"
      },
      "id": "u1v2w3x4-y5z6-7890-uvwx-123456789012",
      "name": "Email Summary",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        920,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Meeting notes generated and sent\", \"notes_url\": \"notion_page_url\" } }}"
      },
      "id": "v2w3x4y5-z6a7-8901-vwxy-234567890123",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Audio Upload Webhook": {
      "main": [
        [
          {
            "node": "AI Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Transcribe Audio": {
      "main": [
        [
          {
            "node": "AI Generate Meeting Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Meeting Notes": {
      "main": [
        [
          {
            "node": "Save to Notion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Notion": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Summary": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45678901-23de-f456-7890-123456def567",
  "id": "24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "jkl012mno345pqr678stu901vwx234yz567abc123def456ghi789"
  },
  "tags": []
}
