n8n_templates_21-ai-email-classification_Version2.json
{
  "name": "AI Email Classification",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Email Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "chatId": {
          "chatId": "gpt-4"
        },
        "text": "=Classify this email into one of these categories: Sales, Support, HR, Marketing, Finance, Legal, Other.\n\nEmail Subject: {{ $node[\"Email Trigger\"].json[\"subject\"] }}\nEmail Body: {{ $node[\"Email Trigger\"].json[\"text\"] }}\n\nRespond with only the category name."
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "AI Classification",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
              "leftValue": "={{ $node[\"AI Classification\"].json[\"choices\"][0][\"message\"][\"content\"] }}",
              "rightValue": "Sales",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Route by Category",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "moveToFolder",
        "folderId": "sales_folder"
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456",
      "name": "Move to Sales",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        920,
        200
      ]
    },
    {
      "parameters": {
        "operation": "moveToFolder",
        "folderId": "support_folder"
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234567",
      "name": "Move to Support",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        920,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger": {
      "main": [
        [
          {
            "node": "AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classification": {
      "main": [
        [
          {
            "node": "Route by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          {
            "node": "Move to Sales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to Support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12345678-90ab-cdef-1234-567890abcdef",
  "id": "21",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abc123def456ghi789jkl012mno345pqr678stu901vwx234yz567"
  },
  "tags": []
}
