n8n_templates_07-summarize-sales-calls-to-crm_Version2.json
{
  "name": "07 - Summarize Sales Calls and Log to CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sales/call-summary",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook - Call Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-980, 80]
    },
    {
      "parameters": {
        "assignments": {
          "mode": "auto",
          "assignments": [
            { "id": "transcript", "name": "transcript", "type": "string", "value": "={{$json.transcript || ''}}" },
            { "id": "audioUrl", "name": "audioUrl", "type": "string", "value": "={{$json.audioUrl || ''}}" },
            { "id": "contactId", "name": "contactId", "type": "string", "value": "={{$json.contactId || ''}}" }
          ]
        }
      },
      "id": "2",
      "name": "Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [-740, 80]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{$json.audioUrl}}", "operation": "isEmpty" }]
        }
      },
      "id": "3",
      "name": "IF audioUrl is empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-520, 80]
    },
    {
      "parameters": {
        "functionCode": "const url = $items(0).item.json.audioUrl;\nconst data = await this.helpers.request({ method:'GET', url, encoding: null });\nreturn [{ json: {}, binary: { audio: { data, mimeType: 'audio/mpeg', fileName: 'call.mp3' } } }];"
      },
      "id": "4",
      "name": "Fetch Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-760, 300]
    },
    {
      "parameters": {
        "url": "={{$env.OPENAI_BASE_URL || 'https://api.openai.com/v1/audio/transcriptions'}}",
        "requestMethod": "POST",
        "jsonParameters": false,
        "sendBinaryData": true,
        "options": { "sendBinaryData": true },
        "headerParametersJson": "={{ { 'Authorization': 'Bearer ' + $env.OPENAI_API_KEY } }}",
        "queryParametersUi": { "parameter": [] },
        "bodyParameters": {},
        "binaryPropertyName": "audio"
      },
      "id": "5",
      "name": "Whisper - Transcribe (from URL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-520, 300]
    },
    {
      "parameters": {
        "functionCode": "const text = $items(0).item.json.transcript || ($json.text || $json.transcript || '');\nconst sys = 'Summarize a sales call into JSON: {summary, key_points[], objections[], next_steps[], sentiment, duration?}. Keep it concise and actionable.';\nreturn [{ payload: { model: $env.OPENAI_MODEL || 'gpt-4o-mini', temperature: 0.2, response_format: {type:'json_object'}, messages: [ {role:'system', content: sys}, {role:'user', content: text} ] } }];"
      },
      "id": "6",
      "name": "Build Summary Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-280, 80]
    },
    {
      "parameters": {
        "url": "={{$env.OPENAI_BASE_URL || 'https://api.openai.com/v1/chat/completions'}}",
        "requestMethod": "POST",
        "jsonParameters": true,
        "sendBinaryData": false,
        "headerParametersJson": "={{ { 'Authorization': 'Bearer ' + $env.OPENAI_API_KEY, 'Content-Type': 'application/json' } }}",
        "bodyParametersJson": "={{ $json.payload }}"
      },
      "id": "7",
      "name": "OpenAI - Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-40, 80]
    },
    {
      "parameters": {
        "functionCode": "let c = $json.choices?.[0]?.message?.content || '{}';\nlet parsed; try { parsed = JSON.parse(c); } catch(e){ parsed = { summary:'', key_points:[], objections:[], next_steps:[], sentiment: 'neutral' }; }\nreturn [parsed];"
      },
      "id": "8",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 80]
    },
    {
      "parameters": {
        "url": "={{$env.CRM_WEBHOOK_URL || ''}}",
        "requestMethod": "POST",
        "jsonParameters": true,
        "sendBinaryData": false,
        "headerParametersJson": "={{ $env.CRM_WEBHOOK_URL ? { 'Content-Type': 'application/json' } : {} }}",
        "bodyParametersJson": "={{ $env.CRM_WEBHOOK_URL ? { type: 'call_summary', contactId: $items(0).item.json.contactId, summary: $json.summary, key_points: $json.key_points, next_steps: $json.next_steps, sentiment: $json.sentiment, createdAt: new Date().toISOString() } : {} }}"
      },
      "id": "9",
      "name": "Log to CRM (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [440, -40]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseBody": "={{ $json }}"
      },
      "id": "10",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 80]
    }
  ],
  "connections": {
    "Webhook - Call Input": { "main": [[{ "node": "Normalize", "type": "main", "index": 0 }]] },
    "Normalize": { "main": [[{ "node": "IF audioUrl is empty", "type": "main", "index": 0 }]] },
    "IF audioUrl is empty": {
      "main": [
        [{ "node": "Build Summary Prompt", "type": "main", "index": 0 }],
        [{ "node": "Fetch Audio", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Audio": { "main": [[{ "node": "Whisper - Transcribe (from URL)", "type": "main", "index": 0 }]] },
    "Whisper - Transcribe (from URL)": { "main": [[{ "node": "Build Summary Prompt", "type": "main", "index": 0 }]] },
    "Build Summary Prompt": { "main": [[{ "node": "OpenAI - Summarize", "type": "main", "index": 0 }]] },
    "OpenAI - Summarize": { "main": [[{ "node": "Parse JSON", "type": "main", "index": 0 }]] },
    "Parse JSON": {
      "main": [
        [{ "node": "Log to CRM (optional)", "type": "main", "index": 0 }],
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Log to CRM (optional)": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "07-summarize-sales-calls-to-crm"
}